<mat-card style="height: 100%;padding: 16px;">
    <div class="header">
        <span>Logs</span>
    </div>
    <div class="filters">
        <mat-form-field class="filter">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search String" #input>
        </mat-form-field>
    </div>
        
        <div>
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell first-cell"> Name </th>
              <td mat-cell *matCellDef="let row" class="cell first-cell"> {{row.userName}} </td>
            </ng-container>
        
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Full Name </th>
              <td mat-cell *matCellDef="let row" class="cell"> {{row.fullName}}</td>
            </ng-container>
        
            <ng-container matColumnDef="signInDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Last Log In </th>
              <td mat-cell *matCellDef="let row" class="cell"> {{row.signInTime | date:'medium'}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Data</td>
            </tr>
          </table>
        
          <mat-paginator [pageSize]="6" aria-label="Select page of contracts" hidePageSize></mat-paginator>
        </div>
  </mat-card>