<mat-card>
    <div class="container">
        <div class="header">
            <span>Upcoming Periods</span>
        </div>
        <div class="body">
            <div class="period-item" [class.active-period]="false">
                <span>Jabuary 2023 - March 2023</span>
            </div>
            <div class="period-item"  [class.active-period]="true">
                <span>April 2023 - June 2023 </span><span *ngIf="true">*</span>
            </div>
            <div class="period-item"  [class.active-period]="false">
                <span>July 2023 - September 2023</span>
            </div>
            <div class="period-item"  [class.active-period]="false">
                <span>October 2023 - December 2023</span>
            </div>
        </div>
        <div class="footer">
            <span>* current period</span>
        </div>
    </div>
</mat-card>