<mat-card>
    <div class="container">
        <div class="header">
            <span>{{ 'schedule.header' | translate }}</span>
        </div>
        <div class="body">
            <div class="period-item" [class.active-period]="false">
                <span>{{ 'schedule.1' | translate }}</span>
            </div>
            <div class="period-item"  [class.active-period]="true">
                <span>{{ 'schedule.2' | translate }}</span><span *ngIf="true">*</span>
            </div>
            <div class="period-item"  [class.active-period]="false">
                <span>{{ 'schedule.3' | translate }}</span>
            </div>
            <div class="period-item"  [class.active-period]="false">
                <span>{{ 'schedule.4' | translate }}</span>
            </div>
        </div>
        <div class="footer">
            <span>{{ 'schedule.footer' | translate }}</span>
        </div>
    </div>
</mat-card>