.container {
    display: flex;
    padding: 18px 16px;
    width: calc(100vw - 32px);
    height: calc(100% - 36px);

    & .menu, .details {
        width: 18.3%;
        height: 100%;
    }

    & .content {
        width: 62.5%;
        height: 100%;
    }
}