.container {
    padding: 0 16px;
    height: 100%;

    & .header {
        font-size: 20px;
        padding: 16px;
    }

    & .content {
        padding: 16px;

        & .template-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .title {
                width: 50%;
            }

            & .actions {
                display: flex;
                align-items: center;

                & .action {
                    padding: 8px;
                    cursor: pointer;

                    &:hover {
                        background-color: #E1F4FC;
                    }
                }
            }
        }
    }
}