<mat-card class="container" style="height: 100%;">
    <div  *ngFor="let role of userRoles">
        <mat-expansion-panel *ngIf="mapping[role]" class="menu-section mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{mapping[role].name}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let item of mapping[role].items;index as i " class="menu-item" (click)="onSelectItem(mapping[role].urls[i])">
            <span>{{item}}</span>
          </div>

        </mat-expansion-panel>
    </div>
</mat-card>