<mat-card *ngIf="data" class="container" style="height: 100%;">
    <div *ngFor="let detailsItem of data" class="details-item">
        <span class="title">{{detailsItem.title}}:</span>
        <span *ngFor="let itemValue of detailsItem.values" class="value">{{itemValue}}</span>
    </div>
    <div *ngIf="displayDataPeriod && !!dataperiod" class="details-item">
        <span class="title">{{ 'time_period_facility.facility' | translate }}:</span>
        <span class="value">{{dataperiod.facility.name}}</span>
        <span class="title">{{ 'time_period_facility.timePeriod' | translate }}:</span>
        <span class="value">{{dataperiod.timePeriodInfo.timePeriod.shortName}}</span>
    </div>
</mat-card>