<div class="container">
    <mat-card style="height: 100%;">
        <div class="header">
            <span>Compare Groups Manager</span>
            <button mat-flat-button color="primary" (click)="onCreate()">Create New</button>
        </div>
        <div class="content">
            <div *ngFor="let cg of compareGroups" class="cg-item">
              <div class="title">
                  <span>{{cg.name}}</span>
              </div>
              <div class="date">
                  <span>{{cg.lastModification | date:'medium'}}</span>
              </div>
              <div class="actions">
                <div class="action" *ngIf="hasSharingRole">
                    <span class="material-icons" style="color: #29A2E6;font-size: 24px;" matTooltip="Share">share</span>
                </div>
                  <div class="action" (click)="onEdit(cg)">
                      <span class="material-icons" style="color: #29A2E6;font-size: 24px;" matTooltip="Edit">edit</span>
                  </div>
                  <div class="action" (click)="onDelete(cg.compareGroupId, cg.name)">
                      <span class="material-icons" style="color: #b00020;font-size: 24px;" matTooltip="Delete">delete</span>
                  </div>
              </div>
            </div>
        </div>
    </mat-card>
</div>
