<mat-card style="height: 100%;padding: 16px;">
    <div class="header">
        <span>Department Groups</span>
        <button mat-flat-button color="primary" (click)="onAdd()">Add New</button>
    </div>
    <div class="filters">
        <mat-form-field class="filter">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search String" #input>
        </mat-form-field>
    </div>
        
        <div>
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell first-cell"> Name </th>
              <td mat-cell *matCellDef="let row" class="cell first-cell"> {{row.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Description </th>
              <td mat-cell *matCellDef="let row" class="cell"> {{row.description}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Delete Action </th>
              <td mat-cell *matCellDef="let row" class="cell">
                <div class="action-button" (click)="onDelete(row)">
                  <mat-icon style="color: #b00020">delete</mat-icon> <span>Delete</span>
                </div>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell last-cell"> Edit Action </th>
              <td mat-cell *matCellDef="let row" class="cell last-cell">
                <div class="action-button" (click)="onEdit(row)">
                  <mat-icon style="color: #29A2E6">edit</mat-icon> <span>Edit</span>
                </div>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Data</td>
            </tr>
          </table>
        
          <mat-paginator [pageSize]="6" aria-label="Select page of contracts" hidePageSize></mat-paginator>
        </div>
  </mat-card>