<mat-card style="height: 100%;padding: 16px;">
    <div class="header">
        <span>Reset Passwords</span>
    </div>

    <div class="reset-form">
        <form [formGroup]="changePasswordForm" style="width: 50%;">
            <div>
                <mat-form-field>
                    <mat-label>User</mat-label>
                    <input type="text"
                            placeholder="Pick User"
                            aria-label="User Name"
                            matInput
                            [formControl]="user"
                            [matAutocomplete]="autoUsers">
                    <mat-autocomplete #autoUsers="matAutocomplete" (optionSelected)="onUserSelected($event)">
                        <mat-option *ngFor="let user of users" [attr.user]="user.id"  data-id="user.id" [value]="user.userName">
                            {{user.userName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
                    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                        <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
    
            <div mat-dialog-actions>
                <button mat-button (click)="onResetPassword()" [disabled]="!changePasswordForm.valid || !user.valid" aria-colcount="primary">Submit</button>
            </div>
        </form>
    </div>
</mat-card>