.header {
    font-size: 20px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.reset-form {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}