@use '@angular/material' as mat;

@include mat.core();

$blue-palette: (
  50: #E1F4FC,
  100: #B4E3F8,
  200: #83D0F3,
  300: #57BDED,
  400: #3AB0EA,
  500: #29A2E6,
  600: #2595D7,
  700: #2182C3,
  800: #1E71AF,
  900: #17528D,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$orange-palette: (
  50: #FEF3E2,
  100: #FEDFB7,
  200: #FDCA8A,
  300: #FCB55D,
  400: #FBA541,
  500: #F99731,
  600: #F48C2E,
  700: #ED7D2B,
  800: #E66E29,
  900: #DA5726,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: white
 )
);

$app-ui-primary: mat.define-palette($blue-palette);
$app-ui-accent: mat.define-palette($orange-palette, 800);
$app-ui-warn: mat.define-palette(mat.$red-palette, 500);

$app-ui-theme: mat.define-light-theme((
  color: (
    primary: $app-ui-primary,
    accent: $app-ui-accent,
    warn: $app-ui-warn,
  )
));

@include mat.all-component-themes($app-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inactive-manu {
  color: rgba(0, 0, 0, 0.6) !important;
}

.header-cell {
  border: 1px solid #FEDFB7 !important;
  border-top: none !important;
}
.cell {
  border: 1px solid #FEDFB7 !important;
}
.first-cell {
  border-left: none !important;
}
.last-cell {
  border-right: none !important;
}

.action-button {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #E1F4FC;
  }
}

.mat-cell {
  padding: 16px !important;
  border-bottom: 1px solid #FEDFB7 !important;
}

.filters {
  display: flex;
  justify-content: space-between;

  & .filter {
    margin: 0 8px;
  }
}

.form-field-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-field {
  width: 50%;
  margin: 0 8px !important;
}

.request-error {
  background-color: red;
  color: white;

  & .mat-simple-snackbar-action {
      color: white;
  }
}

.request-successed {
  background-color: green;
  color: white;

  & .mat-simple-snackbar-action {
      color: white;
  }
}